### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [189]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [190]:
totalplayers= {'Total Players':[len(purchase_data['SN'].value_counts())]}
totalplayers1 = pd.DataFrame(totalplayers)
totalplayers1

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [218]:
#Number of Unique Items
UniqueItems = len(purchase_data['Item Name'].value_counts())

In [219]:
#Average Purchase Price
Av_Purch_Price = round(purchase_data['Price'].mean(),2)

In [220]:
#Total Purchase Value
Total_Purchases = round(purchase_data['Price'].sum(),2)

In [221]:
#Purchasing Analysis (Total)
PurchasingAnalysis= {'Unique Items':[UniqueItems],'Average Price':[AvPurchPrice],'Number of Purchases': [len(purchase_data)],'Total Purchases':[TotalPurchases]}
PurchasingAnalysis1 =pd.DataFrame(PurchasingAnalysis)
PurchasingAnalysis1 = PurchasingAnalysis1[['Unique Items','Average Price','Number of Purchases','Total Purchases']]
PurchasingAnalysis1

   Unique Items  Average Price  Number of Purchases  Total Purchases
0           179           3.05                  780          2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [192]:
#Gender Demographics

# Total Count
total_count = len(purchase_data["SN"].unique())

        Percent of Players  Gender Count
Gender
Male                 84.03           484
Female               14.06            81
Other                 1.91            11

In [ ]:
#Percentage and Count of Male Players
Male1= purchase_data.groupby(['Gender']).get_group(('Male'))
Male2= len(Male1['SN'].unique())
MalePercent= round((Male2/total_count)*100,2)

In [ ]:
#Percentage and Count of Female Players
Female1= purchase_data.groupby(['Gender']).get_group(('Female'))
Female2= len(Female1['SN'].unique())
FemalePercent= round((Female2/total_count)*100,2)

In [ ]:
#Percentage and Count of Other / Non-Disclosed Players
Other1= purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other2= len(Other1['SN'].unique())
OtherPercent= round((Other2/total_count)*100,2)

In [222]:
#Make it into a Gender DataFrame
gender1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other'],'Gender Count':[Male2,Female2,Other2]}
gender2 =  pd.DataFrame(gender1)
gender2= gender2.set_index('Gender')
gender2= gender2[['Percent of Players','Gender Count']]
gender2

        Percent of Players  Gender Count
Gender
Male                 84.03           484
Female               14.06            81
Other                 1.91            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [223]:
#Purchasing Analysis (Gender)

#Purchase Count
MalePurchaseCount = len(Male1)
FemalePurchaseCount = len(Female1)
OtherPurchaseCount = len(Other1)

#Average Purchase Price
MaleAvgPrice =round((Male1["Price"].sum())/len(Male1["Price"]),2)
FemaleAvgPrice= round((Female1["Price"].sum())/len(Female1["Price"]),2)
OtherAvgPrice= round((Other1["Price"].sum())/len(Other1["Price"]),2)


#Total Purchase Value
MaleTotalPurchase = round(Male1['Price'].sum(),2)
FemaleTotalPurchase = round(Female1['Price'].sum(),2)
OtherTotalPurchase = round(Other1['Price'].sum(),2)

# Normalised Totals
# male/female/Other
NormMale = round((MaleTotalPurchase/MalePurchaseCount), 2)
NormFemale = round((FemaleTotalPurchase/FemalePurchaseCount), 2)
NormOther = round((OtherTotalPurchase/OtherPurchaseCount), 2)

PurchByGender = {"Purchase Count":[MalePurchaseCount,FemalePurchaseCount,OtherPurchaseCount],
                    "Gender":["Male","Female","Other"],
                    "Average Purchase Price":[MaleAvgPrice,FemaleAvgPrice,OtherAvgPrice],
                    "Total Purchase Value":[MaleTotalPurchase,FemaleTotalPurchase,OtherTotalPurchase],
                "Normalized Totals":[NormMale,NormFemale,NormOther]}
PurchByGender1 = pd.DataFrame(PurchByGender)
PurchByGender1 = PurchByGender1.set_index('Gender')
PurchByGender1= PurchByGender1[['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Totals']]
PurchByGender1

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Male,652,3.02,1967.64,3.02
Female,113,3.20,361.94,3.20
Other,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [224]:
#Create bins in which data will be held. Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39 >39.

bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

# Cut purchase data and place the ages into bins
pd.cut(purchase_data["Age"], bins, labels=age_ranges)

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels= age_ranges)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [225]:
#Players percentage by age range.

age_group_percentage_df = round(purchase_data["Age Range"].value_counts()/780,2)*100
age_group_percentage_df

20-24    42.0
15-19    26.0
25-29    10.0
10-14     7.0
30-34     7.0
35-39     4.0
<10       4.0
>=40      1.0
Name: Age Range, dtype: float64

In [226]:
# Purchase count by age range.
age_group_count = (purchase_data["Age Range"]).value_counts()

In [227]:
#Make a Summary Table with Age Group and Percentage
age_count_and_percentage_df = pd.DataFrame({"Age Group Percentage":age_group_percentage_df,"Age Group Count":age_group_count})
                                
age_count_and_percentage_df

       Age Group Percentage  Age Group Count
20-24                  42.0              325
15-19                  26.0              200
25-29                  10.0               77
10-14                   7.0               54
30-34                   7.0               52
35-39                   4.0               33
<10                     4.0               32
>=40                    1.0                7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [198]:
#Create bins in which data will be held. Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39 >39.

bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

# Cut purchase data and place the ages into bins
pd.cut(purchase_data["Age"], bins, labels=age_ranges)

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [199]:
#Total Purchase by Age
age_group_total_df = purchase_data.groupby("Age Range")["Price"].sum()
age_group_total_df

Age Range
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
>=40      21.53
Name: Price, dtype: float64

In [200]:
# Purchase count by age range.
age_group_count_df = purchase_data.groupby("Age Range")["Item Name"]
age_group_count_df.count()

Age Range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Item Name, dtype: int64

In [201]:
age_group_count_df = purchase_data.groupby("Age Range")["Price"]
age_group_count_df.mean()

Age Range
<10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
>=40     3.075714
Name: Price, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [217]:
grouped_sn = purchase_data.groupby["SN"]

TypeError: 'method' object is not subscriptable

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80